## Issues Testing n8n workflow

# Test 1

n8n Workflow\
<img width="828" height="271" alt="Screenshot 2026-09-30 at 16 20 28" src="https://github.com/user-attachments/assets/7e0b9f66-6364-4c13-81e2-6115648ad6ae" />

Row in github issue ledger\
<img width="1420" height="12" alt="Screenshot 2026-09-30 at 16 23 23" src="https://github.com/user-attachments/assets/602f831d-0c37-4c87-8530-e210795cf445" />

