## Issues Testing n8n workflow

# Test 1

n8n Workflow
<img width="828" height="271" alt="Screenshot 2026-09-30 at 16 20 28" src="https://github.com/user-attachments/assets/7e0b9f66-6364-4c13-81e2-6115648ad6ae" />
