## Issues Testing n8n workflow

# Test 1

n8n Workflow\
<img width="828" height="271" alt="Screenshot 2026-09-30 at 16 20 28" src="https://github.com/user-attachments/assets/7e0b9f66-6364-4c13-81e2-6115648ad6ae" />

Row in github_issue_ledger\
<img width="1420" height="12" alt="Screenshot 2026-09-30 at 16 23 23" src="https://github.com/user-attachments/assets/602f831d-0c37-4c87-8530-e210795cf445" />

Row in github_issue_route_log\
<img width="1420" height="12" alt="Screenshot 2026-09-30 at 16 28 05" src="https://github.com/user-attachments/assets/5f308e24-621b-4844-ad3f-c4dfc5b37df0" />

# Test 2

n8n Workflow\
<img width="1203" height="402" alt="Screenshot 2026-09-30 at 16 29 16" src="https://github.com/user-attachments/assets/ae04f5c6-285e-44f9-a753-7e2e6bd9d002" />

Row in github_issue_ledger/




