## Issues Testing n8n workflow

# Test 1

n8n Workflow\
<img width="828" height="271" alt="Screenshot 2026-09-30 at 16 20 28" src="https://github.com/user-attachments/assets/7e0b9f66-6364-4c13-81e2-6115648ad6ae" />

Row in github_issue_ledger\
<img width="1239" height="10" alt="Screenshot 2026-09-30 at 16 31 32" src="https://github.com/user-attachments/assets/86d3547a-a3d3-4bd5-8fa4-a87f76c4e549" />

Row in github_issue_route_log\
<img width="1274" height="22" alt="Screenshot 2026-09-30 at 16 35 38" src="https://github.com/user-attachments/assets/d7c3d0e6-57d2-4707-acb5-220894d5fbb5" />


# Test 2

n8n Workflow\
<img width="1104" height="379" alt="Screenshot 2026-09-30 at 16 37 47" src="https://github.com/user-attachments/assets/32046277-d2be-4a60-8f2c-6acef14c6a84" />


Row in github_issue_ledger\
<img width="1235" height="10" alt="Screenshot 2026-09-30 at 16 33 38" src="https://github.com/user-attachments/assets/a5d268b8-c759-4a91-b430-928d4ab232ed" />


Row in github_issue_route_log\
<img width="1269" height="25" alt="Screenshot 2026-09-30 at 16 36 57" src="https://github.com/user-attachments/assets/5c0deaa4-6d2b-4e31-bb3d-ac3b06dbd405" />


# Test 3

n8n Workflow\
<img width="1104" height="379" alt="Screenshot 2026-09-30 at 16 38 15" src="https://github.com/user-attachments/assets/418bd03c-8feb-48ae-a766-d0b7ebcd6284" />


Row in github_issue_ledger\
<img width="1240" height="13" alt="Screenshot 2026-09-30 at 16 34 03" src="https://github.com/user-attachments/assets/e2c668b4-96fc-4b0b-83cc-188b085213c4" />


Row in github_issue_ledger\
<img width="1268" height="20" alt="Screenshot 2026-09-30 at 16 36 37" src="https://github.com/user-attachments/assets/01e586ae-8d29-4b8d-a85a-d0be9edeb899" />




# Test 4

n8n Workflow\
<img width="1104" height="379" alt="Screenshot 2026-09-30 at 16 38 29" src="https://github.com/user-attachments/assets/54931793-b5c7-45e4-a6f9-5068fcc9daf6" />


Row in github_issue_ledger\
<img width="1243" height="10" alt="Screenshot 2026-09-30 at 16 34 22" src="https://github.com/user-attachments/assets/8aaa8e99-0424-4043-b7bd-cf9b26720b8a" />


Row in github_issue_ledger\
<img width="1264" height="21" alt="Screenshot 2026-09-30 at 16 37 14" src="https://github.com/user-attachments/assets/0ec7dc88-c42b-44ae-a9be-ba443f61e9f2" />






